.number_line {
  margin: 8px 0;
  padding-left: 12px;
}

.number_line input {
  appearance: none;
}

.number_line span {
  font-size: 32px;
  border-bottom: 1px solid #333;
}

.number_line input:not(:checked) + span {
  border-color: #ccc;
  color: #ccc !important;
}

.mode_nav {
  display: flex;
  height: 8vh;
}

.mode_nav_item {
  text-decoration: none;
  text-align: left;
  font-size: 32px;
  line-height: 8vh;
  flex-grow: 1;
  padding: 0 12px;
  border: none;
}