.equation {
  padding: 12px 0;
}

.num-input,
.operator {
  font-size: 64px;
  width: 1.5em;
  text-align: center;
}

.num-input::-webkit-outer-spin-button,
.num-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.num-input.incorrect {
  background-color: lightpink;
}

.operator {
  border: none;
}